/* font-family: 'Righteous', cursive;
font-family: 'Rock Salt', cursive; */

.favorites h1 {
    color: white;
    font-family: 'Righteous', cursive;
    margin-left: 15px;
    margin-top: 10px;
}

@media screen and (min-width: 468px){

    .favorites .fav-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    
    }

}

@media screen and (min-width: 1024px){
    .favorites .fav-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1300px){
    .favorites .fav-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}