@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rock+Salt&display=swap');
/* font-family: 'Righteous', cursive;
font-family: 'Rock Salt', cursive; */

.player-wrapper {
    position: relative;
    padding-top: 400px; /* Player ratio: 100 / (1280 / 720) */
    max-width: 600px;
    margin: 0 auto;
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
   
  }

  .recipe-page {
    color: white;
  }

  .recipe-page h1 {
    padding-top: 15px;
    font-family: 'Rock Salt', cursive;
    text-align: center;
  }

  .recipe-page ul, .recipe-page h3, .recipe-page p {
      max-width: 600px;
      margin: 0 auto;
      list-style: none;
      padding: 0;
      border-left: 2px solid red;
      padding-left: 10px;
  }

  @media screen and (min-width:1024px){
    .recipe-page ul, .recipe-page h3, .recipe-page p {
        max-width: 900px;
        
    } 

    .player-wrapper {
        max-width: 900px;
    }
  }