@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rock+Salt&display=swap');
/* font-family: 'Righteous', cursive;
font-family: 'Rock Salt', cursive; */
.recipe-card {
    display: block;
    margin: 0 auto;
    height: 400px;
    width: 300px;
    border-radius: 15px;
    box-shadow: 0px 3px 1px white;
}

.recipe-card img {
    display: block;
    width: 100%;
    margin: 15px auto;
    max-width: 275px;
    max-height: 275px;
    background-position: cover;
    border-radius: 15px;
}

h6 {
    font-family: 'Rock Salt', cursive;
    margin: 15px;
}

.fave {
    position: relative;
    top: 275px;
    left: 250px;
    filter: drop-shadow(0px 0px 7px white);
}

.fa-star {
    text-shadow: 2px 2px black;
}