@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rock+Salt&display=swap');
/* font-family: 'Righteous', cursive;
font-family: 'Rock Salt', cursive; */

h2 {
    text-align: center;
    color: white;
    font-family: 'Righteous', cursive;
    margin-top: 10px;
}

.home .recipe-card{
    position: relative;
}

.home-img {
    display: block;
    width: 100%;
    margin: 0;
    height: auto;
    
}   

.random {
    background-color: #242424e7;
    width: 400px;
    margin: 15px auto;
    padding-bottom: 10px;
    
}

.column {
    width: 100%;
}

.image-container {
    position: fixed;
    top: 0;
    z-index: -1;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (min-width: 468px){
    .column{
        width: 50%;
    }
}

@media screen and (min-width: 1024px){
  
    .column {
        width: 33.33%;
    }
}