@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Rock+Salt&display=swap');
/* font-family: 'Righteous', cursive;
font-family: 'Rock Salt', cursive; */

#dropdown-basic-button {
    font-family: 'Rock Salt', cursive;
    display: inline;
}

#dropdown-basic-button button {
    font-family: 'Righteous', cursive;
    border-radius: 5px;
    width: 175px;
}

form {
    display: flex;
    justify-content: center;
    margin: 0 10px;
}

input {
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
}

.search h1 {
    color: white;
    font-family: 'Righteous', cursive;
    margin-left: 10px;
    margin-top: 10px;
}

@media screen and (min-width: 468px){

    .search-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .search h1{
        margin-left: 60px;
    }

}

@media screen and (min-width: 1024px){
    .search-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    form {
        justify-content: flex-start;
    }

    .search h1{
        margin-left: 20px;
    }

    .search input {
        margin-left: 10px;
    }
}

@media screen and (min-width: 1300px){
    .search-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}